<!-- This is for the large picture and biz title overlay -->
<div class="business-background">
  <div class="row">
    <div class="large-6 small-12 columns">
        <!-- insert something here -->
    </div>
    <div class="large-6 small-12 columns titleBox">
      <center>
        <h1>
          <div id="titleFontColor">
            <%= @business.name.capitalize %>
          </div>
        </h1>
      </center>
    </div>
  </div>
</div>

<div class="row">
  <div class="descriptionBox">
    <center><h2><div id="titleFontColor"> Description </div></h2></center>
    <p><%= @business.description %></p>
  </div>
</div>
<div class="row">
  <% if @business.lat %>
    <div id="googleMapOutlineBusiness">
      <div id="googleMap">
        <!-- Google Map For Business is Here -->
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div id="addressBox">
    <center><h2><div id="titleFontColor">Company Information </div></h2></center>
    <p><b>Owner:  </b><%= @business.owner.capitalize %></p>

    <p><%= @business.name.capitalize %><br />
    <p><%= @business.address1.capitalize %><br />
    <% if @business.address2.capitalize %>
      <%= @business.address2.capitalize %><br>
    <% end %>
    <%= @business.city.capitalize %>,
    <%= @business.state.upcase %>
    <%= @business.zip.to_s %></p>
    <div id="lat">
      <%= @business.lat %>
    </div>
    <div id="lng">
      <%= @business.lng %>
    </div>
  </div>
</div>

<% @business.reviews.each do |review| %>
  <p><%= review.title %></p>
<% end %>

 <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
