<h1><%= @business.name %></h1>
<p><%= @business.description %></p>
<p><%= @business.owner %></p>
<p><%= @business.address1 %></p>
<p><%= @business.address2 %></p>
<p><%= @business.city %></p>
<p><%= @business.state %></p>
<p><%= @business.zip %></p>
