<div class="row fullWidth">
  <div id="homeImageFadeout">
    <section id="home" data-type="background" data-speed="10">
      <article>
        <div id="homePageTitleDiv"> Adding transparency... </div>
         <div id="homePageSubDiv1"> because sometimes... </div>
         <div id="homePageSubDiv2"> haircuts are overrated. </div>
      </article>
    </section>
  </div>

  <div class="row">
    <!-- change this div to be unique and make it look beter -->
    <!-- this was just an a random addition before work -->
    <!-- limit posts to 5 most recent posts -->
    <div id="whatsNew">
      <div class="h1Tag">
        <h1><b> What people are saying... </b></h1>
      </div>
      <div class="homePageText">
        <% @posts.each do |post| %>
          <%= post.title %><br/>
          <p><%= post.body %></p>
        <% end %>
        <p>Mauris ut sem nec mauris rhoncus volutpat. Fusce ac libero turpis. Maecenas efficitur erat arcu. Nunc vel turpis posuere, rhoncus odio a, egestas augue. Proin at tellus ipsum.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="ourMission">
      <h1>
        <div class="h1Tag">
          <b>Our Mission</b>
        </div>
      </h1>
        <div class="homePageText">
          <p>Ut porttitor metus est, maximus fermentum nibh luctus ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec dui aliquam, ultricies velit eu, dictum nisl. Quisque non viverra elit, ac rhoncus nisi. Mauris ut sem nec mauris rhoncus volutpat. Fusce ac libero turpis. Maecenas efficitur erat arcu. Nunc vel turpis posuere, rhoncus odio a, egestas augue. Proin at tellus ipsum.</p>
        </div>
    </div>
  </div>


  <div class="row">
    <div id="homePageMap">

      <div id="googleMap">
        <div class="lats">42.009786</div><div class="longs">-71.232035</div>
        <!-- map here -->
      </div>
    </div>
  </div>
  <div class="row">
    <div id="findDealer">
      <h1><div class="h1Tag"><b> Find a Dealer </b></div></h1>
        <div class="homePageText">
          <%= link_to 'See all dealers', businesses_path %>
          <ul>
          <% @businesses.each do |business| %>
            <li><%= link_to business.name.capitalize, business %></li>
          <% end %>
          </ul>
          <p>Ut porttitor metus est, maximus fermentum nibh luctus ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec dui aliquam, ultricies velit eu, dictum nisl. Quisque non viverra elit, ac rhoncus nisi. Mauris ut sem nec mauris rhoncus volutpat. Fusce ac libero turpis. Maecenas efficitur erat arcu. Nunc vel turpis posuere, rhoncus odio a, egestas augue. Proin at tellus ipsum.</p>
        </div>
    </div>
  </div>


  <div class="row">
    <section id="homePageManufacturerBackground" data-type="background" data-speed="10">
      <article>
        <div id="ourManufacturers">
          <h1><b> Manufacturers </b></h1>
            <div class="homePageText">
              <p>Ut porttitor metus est, maximus fermentum nibh luctus ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec dui aliquam, ultricies velit eu, dictum nisl. Quisque non viverra elit, ac rhoncus nisi. Mauris ut sem nec mauris rhoncus volutpat. Fusce ac libero turpis. Maecenas efficitur erat arcu. Nunc vel turpis posuere, rhoncus odio a, egestas augue. Proin at tellus ipsum.</p>

              <%= link_to "View All", manufacturers_path %>
              <br><br>
              <% @manufacturers.each do |manufacturer| %>
                <h3><b><%= link_to manufacturer.name.capitalize, manufacturer %></b></h3>
                <br>
                <p><%= manufacturer.description %></p>
                <br><br>
              <% end %>
            </div>
        </div>
      </article>
    </section>
  </div>
</div>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
