<div class="row">
  <%= simple_form_for @manufacturer do |f| %>
    <div class="medium -10">
      <div class="small-12 medium-6 columns">
        <%= f.input :name, label: 'Name', placeholder: 'Manufacturer Name', autofocus: true %>
      </div>
      <div class="small-12 columns">
        <%= f.input :description, label: 'Description', placeholder: 'Body' %>
      </div>
      <div class="small-12 columns">
        <%= f.input :lat, label: 'lat', placeholder: 'lat' %>
      </div>
      <div class="small-12 columns">
        <%= f.input :lng, label: 'lng', placeholder: 'lng' %>
      </div>
      <div class="small-12 columns">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
