<div class="truck-background">
  <div id="manufacturer" id="manufacturer">
  <div class="row">
    <div class="medium-6 small-12 columns manufacturerBaseBox">
      <h1>
        <div class="title">
          <%= @manufacturer.name.capitalize %>
        </div>
      </h1>
      <div class="description">
        <p><%= @manufacturer.description %></p>
      </div>
      <div class="buttons">
        <div class="button button-spacing" id="reviewButton">
          Reviews
        </div>
        <div class="button button-spacing" id="contactButton">
          Contact
        </div>
      </div>
    </div>
    <div class="medium-6 small-12 columns">
      <%if @manufacturer.lat %>
        <div id="googleMapOutlineManufacturer">
          <div id="googleMap"></div>
            <div id="manufacturer-address">
              Address:
            </div>
            <div class="lats">
              <%= @manufacturer.lat %>
            </div>
            <div class="longs">
              <%= @manufacturer.lng %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <div id="reviewDiv">
        <% if @manufacturer.reviews.count > 0 %>
          <% @manufacturer.reviews.each do |review| %>
            <p><%= review.title %></p>
            <p><%= review.body %></p>
            <%= link_to "Review Now!", new_review_path %>
          <% end %>
        <% else %>
          <p>Be the first to review this manufacturer!</p>
          <%= link_to "Review Now!", new_review_path %>
        <% end %>
      </div>
    </div>
    <div class="medium-6 small-12 columns">
      <div id="contactDiv">
        Contact Info
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
